logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
files/
certs/
.DS_Store
*.sw*
*.un~
config/config.local.js
config/config.prod.js
config/config.unittest.js
.tags
.tags_swap
.travis.yml
